doctype html
html
  head
    title Blog
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='../assets/lib/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript', src='../assets/lib/bootstrap/js/bootstrap.js')
  script.  
  
  body
    block content
    div
      p= error
      p= success
      block reg
      block login
      block info

