extends welcome

block login
    div(id='login')
        form(method='post')
            button(type="button" class="close" aria-label="Close" onclick="document.getElementById('login').style.display='none'")
                span(aria-hidden="true") &times
            div(class="form-group")
                label(for='username') 用户名：
                input(type='text' name='username' class="form-control" id="username" placeholder="用户名" required)
            div(class='form-group')
                label(for ="password") 密码：
                input(type='password' name='password' id='password' class="form-control" placeholder="密码" required)
            a(class="forget" href="") Forget Password?
            br
            br
            <input type="submit" class="btn btn-primary login-button" value="登录" style="width:70px;height:40px;" />