doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Title
        link(rel="stylesheet", href="/assets/lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/index.css")
        link(rel="stylesheet", href="/css/chatroom.css")
        link(rel="stylesheet", href="/css/queue.css")
        script(type="text/javascript", src="/assets/lib/js/jquery-3.2.1.js")
        script(type="text/javascript" src="../assets/lib/bootstrap/js/bootstrap.js")
        script(type="text/javascript", src="/assets/lib/js/ArrayList.js")
        script(type="text/javascript", src="/assets/lib/js/three.js")
        script(type="text/javascript", src="/js/sea-battle/loading/Bird.js")
        script(type="text/javascript", src="/js/sea-battle/loading/Boid.js")
        script(type="text/javascript", src="/js/sea-battle/loading/CanvasRenderer.js")
        script(type="text/javascript", src="/js/sea-battle/loading/Projector.js")
        script(type="text/javascript", src="/js/sea-battle/loading/stats.min.js")
        script(type="text/javascript", src="/js/loading.js")
        script(type="text/javascript", src="/js/model/WaterShader.js")
        script(type="text/javascript", src="/js/model/OBJLoader.js")
        script(type="text/javascript", src="/js/model/MTLLoader.js")
        script(type="text/javascript", src="/js/model/DDSLoader.js")
        script(type="text/javascript", src="/js/model/OrbitControls.js")
        script(type="text/javascript", src="/js/model/CreateModel.js")
        script(type="text/javascript", src="/assets/lib/js/socket.io.js")
        script(type="text/javascript", src="/js/sea-battle/chatroom.js")
        script(type="text/javascript", src="/js/sea-battle/MovableObject.js")
        script(type="text/javascript", src="/js/sea-battle/StaticObject.js")
        script(type="text/javascript", src="/js/sea-battle/Box.js")
        script(type="text/javascript", src="/js/sea-battle/Portal.js")
        script(type="text/javascript", src="/js/sea-battle/Boat.js")
        script(type="text/javascript", src="/js/sea-battle/Bullet.js")
        script(type="text/javascript", src="/js/sea-battle/Map.js")
        script(type="text/javascript", src="/js/sea-battle/Player.js")
        script(type="text/javascript", src="/js/sea-battle/NPC.js")
        script(type="text/javascript", src="/js/sea-battle/UnmovableNPC.js")
        script(type="text/javascript", src="/js/sea-battle/team.js")
        script(type="text/javascript", src="/js/sea-battle/GameManager.js")
        script(type="text/javascript", src="/js/sea-battle.js")
    body
        #loading
            #container
            p Loading ...
        button(type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id='wow') +

        div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times
                        h4(class="modal-title" id="myModalLabel") 组队
                    div(class="modal-body")
                        form(method="GET")
                            label(for="queue") 请输入你的队友名：
                            input(type="text" name='queue')
                        h5 现有玩家：
                        #gamers
                    div(class="modal-footer")
                        button(type="button" class="btn btn-default" data-dismiss="modal") Close
                        button(type="button" class="btn btn-primary") 发送邀请
        div(id='request' class='modal-dialog' role="document")
            div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times
                h4(class="modal-title" id="myModalLabel") 组队
            div(class="modal-body")
                h4 来自 xxx的邀请
            div(class="modal-footer")
                button(type="button" class="btn btn-default" data-dismiss="modal") 接受
                button(type="button" class="btn btn-primary") 拒绝
        #map-output
        #status-list
        #ranking-list
        #tp-info
            img(src="../assets/images/black_hole.png")
        #display-info
        
        #chatroom-container
            ul.pages
                li.chat.page
                    .chatArea
                        ul.messages
                    input.inputMessage(placeholder="Type here...")
        #debug
