extends layout.jade
script(type='text/javascript', src='bootstrap/js/bootstrap.js')
block ship
    div(id='ship')
        div(class="row")
            div(class="col-md-4")
                h5 Ship 1
                div(id='ship1' class='ships')
            div(class="col-md-4")
                h5 Ship 2
                div(id='ship2' class='ships')
            div(class="col-md-4")
                h5 Ship 3
                div(id='ship3' class='ships')

