doctype html
html
  head
    title Uncharted Waters
    
    link(rel='stylesheet', href='/assets/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/welcome.css')
    link(rel='stylesheet', href='/stylesheets/register.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/ship.css')
    script(type="text/javascript", src="/assets/lib/js/jquery-3.2.1.js")
    script(type='text/javascript', src='/assets/lib/bootstrap/js/bootstrap.js')
    
    script(type="text/javascript" src="/assets/lib/js/three.js")
    script(type="text/javascript" src="/js/model/CreateModel.js")
    script(type='text/javascript' src='/js/model/OBJLoader.js')
    script(type='text/javascript' src='/js/model/DDSLoader.js')
    script(type='text/javascript' src='/js/model/MTLLoader.js')
    script(type='text/javascript' src='/js/model/OrbitControls.js')
    script(type='text/javascript' src='/js/model/WaterShader.js')
    script(type='text/javascript', src='/js/chooseShip.js')
    

    link(rel='stylesheet', href='/stylesheets/info.css')
    style.

  script.  
  
  body
    div(id='cssmenu')
      ul(style="display: block;/* width: 50%; */float: right;")
        if (user)
          li
            p Welcome Mr. #{user.name}
        else
          li
            p Please Log in
        li
          a(href='/') Home
        if (user)
          li
            a(href='/info') Info
          li
            a(href='/ship') Ship
          li
            a(href='/logout') Log out
        else
          li
            a(href='/log') Log In
          li
            a(href='/reg') Sign Up
        li(class='active')
          a(href='#') Find US
          ul
            li
              a(href='#') Team FDU
            li
              a(href='https://github.com/xianyinuma/totalProject') Github
    
    div(id="total")
      div(class="row")
        div(class="col-md-4")
          p(id= "title") #{title}
          img(src="assets/images/info.jpg" class="img-thumbnail")
        div(class="col-md-8")
          div(id='ship')
            div(class="row")
                div(class="col-md-4")
                    h5 Kawayi
                    canvas(id='ship1' class='ships' width="200px" height="300px")
                div(class="col-md-4")
                    h5 Spirite
                    canvas(id='ship2' class='ships' width="200px" height="300px")
                div(class="col-md-4")
                    h5 Rainbow
                    canvas(id='ship3' class='ships' width="200px" height="300px")
            div(class='row' id ='shipForm')
              div(class='col-md-4')
                input(name='ship1' type='button' value='Start' onclick="window.location.href='/main?boatType=1'")
              div(class='col-md-4')
                input(name='ship2' type='button' value='Start' onclick="window.location.href='/main?boatType=2'")
              div(class='col-md-4')
                input(name='ship3' type='button' value='Start' onclick="window.location.href='/main?boatType=3'")
              //- form(action="/index" method='get')
              //-   input(type='hidden' name ='username' value="#{user.name}")
              //-   div(class='form-group')
              //-     div(class="col-md-4")
              //-       label(class='radio-inline') 
              //-         h4 Kawayi
              //-         input(type='radio' name="shipNo" id="inlineRadio1" value="option1" ) 
              //-     div(class="col-md-4")
              //-       label(class="radio-inline")
              //-         h4 GermanShip
              //-         input(type="radio" name="shipNo" id="inlineRadio1" value="option2") 
              //-     div(class="col-md-4")
              //-       label(class="radio-inline")
              //-         h4 Money
              //-         input(type="radio" name="shipNo" id="inlineRadio2" value="option3") 
              //-     <input type="submit" class="btn btn-primary login-button" value="注册" style="width:70px;height:40px;" />
              //- label(class="radio-inline")
              //-   input(type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3") 3
    div(id='cssmenu')
      ul(style="display: block;/* width: 50%; */float: right;")
        li
          a(href='#') © 2017 GitHub, Inc.
        li
          a(href='#') Made by Curious
        li
          a(href='#') Donate to US
    

