#wow{
    position:absolute;
    right: 4%;
    top:40%;
    z-index:5;
    display: none;
}
#request{
    position:absolute;
    background-color: white;
    border-radius: 15px;
    left:25%;
    top:35%;
    z-index:5;
    display: none;
}
#teammate-list{
    position:absolute;
    background-color: transparent;
    border-radius: 15px;
    right:8%;
    top:40%;
    z-index:5;
}
#quit{
    position:absolute;
    background-color: transparent;
    border-radius: 15px;
    right:4%;
    top:46%;
    z-index:5;
    display: none;
}