@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body{
	font-family: Montserrat, sans-serif;
}
#title{
	font-size: 30px;
	text-align: center;
}
 
#info{
	margin-left: 10%;
	margin-top: 10%;
}
form{
	width: 300px;
}
#back{
	margin-left: 50%;
	margin-top: 5%;
}
