#login{
    width: 30%;
    position: absolute;
    top: 25%;
    left: 35%;
    padding: 30px 40px;
    background-color: white;
}
.forget{
    color: black;
}
#login button{
    margin-top: -25px;
    margin-right: -20px;
}